<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<!--/*@thymesVar id="userId" type="java.lang.String"*/-->
<div>
    <h2 th:text="${userId}"></h2>
</div>
<div>
    <!--/*@thymesVar id="contactKeyList" type="java.util.List"*/-->
    <ul>
        <!--/*@thymesVar id="contactKey" type="com.demo.contactif.domain.application.contactkey.ContactKey"*/-->
        <li th:each="contactKey: ${contactKeyList}">
            <form th:action="@{/contactKeys/{id}(id=${contactKey.id})}" th:method="delete">
                [[${contactKey.id}]]
                <button type="submit">delete</button>
            </form>
        </li>
    </ul>
</div>
<form th:action="@{/contactKeys}" method="post">
    <button type="submit">create contact key</button>
</form>
<form th:action="@{/accounts/{id}(id=${userId})}" th:method="delete">
    <button type="submit">delete account</button>
</form>
</body>
</html>